/*footer 部分*/
        .footer {
           background-color:black;
           color: white;
           text-align: center;
        }
        
        .row-pagewhole{
            margin-top: 30px;
        }
        .btn-pos{
            position:relative; left:180px; top: 0px;
        }  