/*font */
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

    html {
        height: 100%;           
    }
    body {
        background-image: url(chiapao/front_end/img/woodbackground3.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        font-family: 'Noto Sans TC', sans-serif;;
        font-weight: 400;
    } 