<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>chiapao</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.member.controller.MemServlet</servlet-class>
		<multipart-config>
        <max-file-size>10485760</max-file-size>
        <max-request-size>20971520</max-request-size>
        <file-size-threshold>5242880</file-size-threshold>
    	</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/member.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.member.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/front_end/member/logout.do</url-pattern>
	</servlet-mapping>

  <servlet>
		<servlet-name>EmpServlet</servlet-name>
		<servlet-class>com.employee.controller.EmpServlet</servlet-class>
		<multipart-config>
        <max-file-size>10485760</max-file-size>
        <max-request-size>20971520</max-request-size>
        <file-size-threshold>5242880</file-size-threshold>
    	</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpServlet</servlet-name>
		<url-pattern>/back_end/employee/emp.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmpShowImg</servlet-name>
		<servlet-class>com.employee.controller.EmpShowImg</servlet-class>
		<multipart-config>
        <max-file-size>10485760</max-file-size>
        <max-request-size>20971520</max-request-size>
        <file-size-threshold>5242880</file-size-threshold>
    	</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpShowImg</servlet-name>
		<url-pattern>/empshow.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutEmp</servlet-name>
		<servlet-class>com.employee.controller.LogoutEmp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutEmp</servlet-name>
		<url-pattern>/emplogout.do</url-pattern>
	</servlet-mapping>
	
	
		
	<filter>
	  <filter-name>loginFilter</filter-name>
	  <filter-class>com.loginfilter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>loginFilter</filter-name>
	  <url-pattern>/protected_front/*</url-pattern>
	  <dispatcher>REQUEST</dispatcher>
	  <dispatcher>FORWARD</dispatcher>
	  <dispatcher>INCLUDE</dispatcher>
	  <dispatcher>ERROR</dispatcher>
	  <dispatcher>ASYNC</dispatcher>
	</filter-mapping>
</web-app>