/* 請複製這一段到你自己的CSS*/
html {
	height: 100%;
}

/*font */
@import url( //fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	/*	background-image: url(images/woodbackground3.png);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: 'Noto Sans TC', sans-serif;;
	font-weight: 400;
}

/*---------------------------------- */
.form-control:focus {
/* 	color: #495057; */
	background-color: #fff;
	border-color: chocolate !important;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(255, 153, 102, .25) !important;
}

#stor_No {
	margin: 5px;
	height: 30px;
	width: auto;
}


td {
	font-size: 12px;
}

h1 {
	font-weight: bolder;
}

th {
	color: sienna;
}

tbody>tr:hover {
	background-color: #fcf4e8;
/* 	color: black; */
}

#div1 {
	margin-top: 10px;
}

#div_shadow {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

#a1, #a1:link{
	text-decoration: none
}

#a1:hover {
	text-decoration: none;
}

.custom-select{
    margin-left: 15px;
/*     margin-bottom:15px; */
    border-radius: 5px !important;
}



.custom-select:focus{

	background-color: #fff;
	border-color: chocolate !important;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(255, 153, 102, .25) !important;
}

b {
/* 	margin-top:15px; */
    height: auto;
}
	
